
.dashboard {
    background-color: #EED9C4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  


.section {
    background-color: #F5F5DC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 100%; 
    overflow: hidden; 
  }
  
  .section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
  }
  
  
  .charts {
    display: flex;
    justify-content: space-between;
  }
  
